<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url shortner</title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
        }
        body{
            background-color: #41B3A3;
        }
        header{
            background-color:#85DCB0;
            color: aliceblue;
            text-align: center;
            width: 100%;
            height: 90px;
        }
        h1{
            padding-top: 10px;
        }
        .container{
            width: 450px;
            height: 50%;
            background-color: #85DCB0;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 30px;
            padding: 5px;
        }
       
        h2{
            text-align: center;
            margin-top: 10px;
            padding: 2px;
        }
        #urlinput{
            width: 80%;
            outline: none;
            padding: 4px;
            top: 25%;
            left: 50%;
            transform: translate(-50%,-50%);
            position: absolute;
            font-size: 16px;
        }
        #submit{
            position: absolute;
            top: 32%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: aqua;
            border-radius: 10px;
            width: 120px;
            padding: 3px;
            margin-top: 12px;
        }
        .shortUrl{
            width: 70%;
            position: absolute;
            text-align: center;
            top: 65%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        #url{
            width: 60%;
            min-height: 25px;
            max-height: fit-content;
            word-wrap: break-word;
            display: inline-block;
            background-color: azure;
            border-radius: 10px;
            margin: 5px 0px 5px 0px;
            padding: 5px 5px 0 5px;
        }
       
        #copybtn{
            width: 80px;
            height: 30px;
            margin-top: 2px;
            background-color: aqua;
            border-radius: 10px;
        }
        footer{
            position: fixed;
            bottom: 0;
            text-align: center;
            width: 100%;
            height: 10%;
            background-color: aqua;
        }
         @media (max-width: 466px){
            .container{
                 width: 95%;
                 margin-top: 10px;
                 margin: auto;
             
            }
        }
    </style>
</head>    
    <body>
       <header>
           <h1>
               Url shortner project
           </h1>
       </header>
    <div class="container">
        <form id="form" action="/url" method="post" target="_self">
            <h2>Short your url easily</h2>
        
            <input type="url" id="urlinput" name="longUrl" required="required" placeholder="paste long url here"> <br>
            <button  id="submit">Short The URL</button><br><br>
            
            <div class="shortUrl">
                <p>Your Short Url</p>       
                    <div id="url" > {{shortUrl}}</div><br>
                 
                    <button type="button" id="copybtn" onclick="copyLink()">Copy</button>
            </div>      
        </form>
    </div>
  <footer>
      <h3>
        copyright© 2022 all rights reserved   
      </h3>
  </footer>
    <script>
  function copyLink() {
    let copyText = document.getElementById("url") 

    let selection = window.getSelection();

    let range = document.createRange();

    range.selectNodeContents(copyText);

    selection.removeAllRanges();

    selection.addRange(range);

    document.execCommand('copy');
  }
</script>
   
    </body>
    
</html>
