<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="icon" type="image/x-icon" href="favicon.ico?v=" + Math.trunc(Math.random()*999)>
    <a href="https://www.flaticon.com/free-icons/url" title="url icons"></a>
    <meta name="description" content="This website create a long url into short url">
    <meta name="keyword" content="url,urlshortner,url-0">
    <link rel="canonical" href="index.hbs">
    <meta name="robots" content="index,follow" />
    
    <title>Url shortner</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        body{
            height: 100vh;
            text-align: center;
            background-color: #2c2c2c;
        }

        header {
            background-color: #2c2c2c;
            color: rgb(0, 0, 0);
            text-align: center;
            width: 100%;
            height: 90px;
        }

        h1 {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #ffffff;
            padding-top: 10px;
        }

        h2{
            margin-top: 10px;
        }
        .container {
           height: 78vh;
           width: 100vw;
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           justify-content: space-around;
            background-color: #a6e1ff;
          
        }
        form{
            width: 28rem;
            height: 25rem;
            padding: 10px;
            margin: 10px;
            margin-top: 2.8rem;
            border-radius: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #a6e1ff; 
            -webkit-box-shadow: 1px 2px 20px 3px rgb(24 24 24 / 77%);
            -moz-box-shadow: 1px 2px 20px 3px rgb(24 24 24 / 77%);
            box-shadow: 1px 2px 20px 3px rgb(24 24 24 / 77%);
        }
        #urlinput{
            width: 80%;
            padding: 8px;
            outline: none;
            border: 1px solid black ;
            border-radius: 5px;
            margin-top: 2rem;
        }
        #url{
            height: 2rem;
            max-height: fit-content;
            min-width: 12rem;
            max-width: fit-content;
            padding: 10px;
            margin: 9px;
            background-color: #ffffff;
            border: 1px solid black;
            border-radius: 10px;
        }
        button{
            background-color: #4CAF50;
            color: #ffffff;
            padding: 10px;
            border-radius: 10px;
            width: 8rem;
            border: 2px solid #4CAF50;
            cursor: pointer;
            transition: 1s;
        }
        button:hover{
            background-color: #ffffff;
            color: black;
            border: 2px solid #4CAF50;
            transition: ease-in-out .6s;
        }
        footer h2{
            margin-top: 10px;
            color: #e9e8e8;
        }
        footer h2 a{
            margin-left: 8px;
            text-decoration: none;
            color: #ffffff;
        }
        
        @media (max-width: 466px) {

        form {
            width: 23rem;
            height: 26rem;
        }

        }
    </style>
</head>

<body>
     <header>
            <h1>Url shortner website</h1>
        </header>
    <div class="container">
       
        <form id="form" action="/" method="post" target="_self">
            <h2>Short your url easily</h2>

            <input type="url" id="urlinput" name="longUrl" required="required" placeholder="paste long url here" autocomplete="off" autofocus> <br>
            <button id="submit">Short The URL</button><br><br>

            <div class="shortUrl">
                <p>Your Short Url</p>
                <div id="url"> {{shortUrl}}</div><br>

                <button type="button" id="copybtn" onclick="copyLink()">Copy</button>
            </div>
        </form>
    
     </div>
     <footer>
        <h2>Created By <a href="https://www.linkedin.com/in/deepak-kumar-322685202" target="_blank"> @ Deepak</a></h2>
     </footer>
    <script>

         function copyLink() {
            let copyText = document.getElementById("url")

            let selection = window.getSelection();

            let range = document.createRange();

            range.selectNodeContents(copyText);

            selection.removeAllRanges();

            selection.addRange(range);

            document.execCommand('copy');
        }

    
        const btn = document.getElementById('copybtn');
        btn.addEventListener('click', function handleClick() {
        btn.textContent ='Copied';
        setTimeout((e)=>{
            btn.textContent ='Copy';
        },1000)
        }); 
        
    </script>

</body>

</html>